@model Task_Management_System.ViewModels.TasksVM

@{
	ViewData["Title"] = "Tasks";
	Layout = "~/Views/Shared/_Tasks_Layout.cshtml";
}

<div class="row justify-content-center">


	<form method="post" asp-action="Upsert" enctype="multipart/form-data">
		<input asp-for="Tasks.Id" hidden />

		<div class="row justify-content-center">
			<div class="col-10">
				<div class="border p-3 mt-4 row">
					<div class="col-12 pb-2">
								<h2 class="text-primary">@(Model.Tasks.Id != 0 ? "Update" : "Create")  Task</h2>
						<hr />
					</div>
					@*<div asp-validation-summary="All"></div>*@
					<div class="mb-3">
						<label asp-for="Tasks.TaskTitle "></label>
						<input asp-for="Tasks.TaskTitle" class="form-control" />
						<span asp-validation-for="Tasks.TaskTitle" class="text-danger"></span>
					</div>
					<div class="mb-3">
							<label asp-for="Tasks.Description"></label>
							<textarea asp-for="Tasks.Description" rows="3" class="form-control"></textarea>
							<span asp-validation-for="Tasks.Description" class="text-danger"></span>
					</div>
					@* <div class="mb-3 col-6">
							<label asp-for="Tasks.Priority"></label>
							<input asp-for="Tasks.Priority" class="form-control" />
							<span asp-validation-for="Tasks.Priority" class="text-danger"></span>
					</div> *@

					<div class="mb-3 col-6">
						<label asp-for="Tasks.Priority"></label>
						<select asp-for="Tasks.Priority_Id" asp-items="@Model.PriorityList" class="form-select">
							<option disabled selected>--Select Priority--</option>
						</select>
						<span asp-validation-for="Tasks.Priority_Id" class="text-danger"></span>
					</div>
					<div class="mb-3 col-6">
							<label asp-for="Tasks.AssignDate"></label>
							<input asp-for="Tasks.AssignDate" class="form-control" />
							<span asp-validation-for="Tasks.AssignDate" class="text-danger"></span>
					</div>
					<div class="mb-3 col-6">
							<label asp-for="Tasks.DueDate"></label>
							<input asp-for="Tasks.DueDate" class="form-control" />
							<span asp-validation-for="Tasks.DueDate" class="text-danger"></span>
					</div>
		
					<div class="mb-3 col-6">
							<label asp-for="Tasks.Status"></label>
							<select asp-for="Tasks.StatusId" asp-items="@Model.StatusList" class="form-select">
							<option disabled selected>--Select Status--</option>
						</select>
							<span asp-validation-for="Tasks.StatusId" class="text-danger"></span>
					</div>
					<div class="col-12">
						@if (Model.Tasks.Id != 0)
						{
							<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
						}
						else
						{
							<button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
						}
						<a asp-controller="Tasks" asp-action="AllTasks" class="btn btn-secondary" style="width:150px">
							Back to List
						</a>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

@section Scripts{
	@{
	<partial name="_ValidationScriptsPartial" />
	}
}
